@model Helios.Entity.Models.EmployeeOfficialModel
@using Helios.Entity
@using Helios.Entity.Models


@{
    ViewBag.Title = "PersonalProfileView";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

@using (Html.BeginForm())
{
   
    
    <div class="form-horizontal">
        <h4>EmployeeOfficialModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model=>model.Employee_official_profile_id)
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employee_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Employee_id, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employee_type_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Employee_type_id, new SelectList(ViewBag.EmployeeType as List<EmployeeType>, "Employee_Type_Id", "Employee_Type_name"), "--Select--")
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employee_role_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Employee_role_id, new SelectList(ViewBag.EmployeeRole as List<EmployeeRole>, "Employee_role_id", "Role_name"), "--Select--")
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Department_Id, new SelectList(ViewBag.Department as List<Department>, "Department_Id", "Department_name"), "--Select--")
           
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Organization_unit_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.DropDownListFor(model => model.Organization_unit_id, new SelectList(ViewBag.OrganizationUnit as List<OrganizationUnit>, "Organization_unit_id", "Organization_unit_name"), "--Select--")
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Job_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Job_code, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.DropDownListFor(model => model.Manager, new SelectList(ViewBag.managers as List<PersonalProfileModel>, "Employee_profile_id", "Employee_name"), "--Select--")
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hiring_manager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Hiring_manager, new SelectList(ViewBag.hiringManagers as List<PersonalProfileModel>, "Employee_profile_id", "Employee_name"), "--Select--")
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supervisor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Supervisor, new SelectList(ViewBag.supervisors as List<PersonalProfileModel>, "Employee_profile_id", "Employee_name"), "--Select--")

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hr_manager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Hr_manager, new SelectList(ViewBag.hrmanagers as List<PersonalProfileModel>, "Employee_profile_id", "Employee_name"), "--Select--")
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hiring_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hiring_date, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email_address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email_address, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>
        @Html.HiddenFor(model=>model.Employee_proile_id)
        @*<div class="form-group">
            @Html.LabelFor(model => model.Employee_proile_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Employee_proile_id, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Created_by, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_by, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_updated_by, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_updated_by, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_updated_by, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_updated_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_updated_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_updated_date, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Active_flag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active_flag)
                    @Html.ValidationMessageFor(model => model.Active_flag, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "EmployeeOfficialList")
</div>
